input[type="number"] ,select{
    font-size: 2rem;
    margin-top: 0.5em;
    border-radius: 0.3em;
    padding: 0.5em 0.7em;
    background-color: white;
    color: black;
  }

  .container span {
  color: red;
  font-size: 1.8rem;
  padding-left: 0.1em;
}

label {
  font-size: 2.5rem;
}

.container{
  display: flex;
  flex-direction: column;
}

option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-x: scroll;
}

@media screen and (max-width: 400px) {
  select {
    width: 100%;
  }

  option {
    width: 100px;
  }
}
