.option{
    text-align: center;
    font-size: 2.5rem;
    padding: 0.4em;
    background-color: blue;
    cursor: pointer;
    border-radius: 0.3em;
}

.main {
    text-align: center;
    font-size: 2.8rem;
    padding: 0.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 0.3em;
}
  